@* Bloque institucional (alternativa a los logos oficiales, no disponibles como recurso) *@
<div class="gov-brand" title="Gobierno del Perú">
    <span class="flag">PERÚ</span>
    <span class="seg">Presidencia del Consejo de Ministros</span>
    <span class="seg dark">Centro Nacional de Planeamiento Estratégico</span>
</div>
