@* Identificador Institucional del Estado Peruano: Escudo Nacional + "PERÚ" + entidad.
   El escudo es el SVG oficial (símbolo del Estado, dominio público). *@
<div class="gov-brand" title="Gobierno del Perú">
    <img class="escudo" src="~/img/escudo-peru.svg" alt="Escudo Nacional del Perú" />
    <span class="flag">PERÚ</span>
    <span class="seg">Presidencia del Consejo de Ministros</span>
    <span class="seg dark">Centro Nacional de Planeamiento Estratégico</span>
</div>
